<!-- Contact details page -->

<h1><%= @contact["last_name"] %>, <%= @contact["first_name"] %></h1>

<ul>
  <li><%= @contact["email"] %></li>
  <li><%= @contact["phone_number"] %></li>
</ul>

<p><a href="/companies/<%= @company["id"] %>">Back to <%= @company["name"] %></a></p>